# Virtual Environment
.venv/
venv/

# Environment Variables
.env
.env.*

# PyCharm
.idea/

# VSCode
.vscode/

# Build / Distribution
build/
dist/
*.egg-info/

# Testing
.pytest_cache/
.coverage
htmlcov/

# Type Checkers
.mypy_cache/
.pyre/
.ruff_cache/

# Logs
*.log

# OS Files
.DS_Store
Thumbs.db

# Docker
docker-data/

# Cookies e Credenciais
youtube_cookies.txt
*.txt