# Virtual Environment
.venv/
venv/

# Environment Variables
.env
.env.*

# PyCharm
.idea/

# VSCode
.vscode/

# Python Cache
__pycache__/
*.py[cod]
*$py.class

# Build / Distribution
build/
dist/
*.egg-info/

# Testing
.pytest_cache/
.coverage
htmlcov/

# Type Checkers
.mypy_cache/
.pyre/
.ruff_cache/

# Logs
*.log

# OS Files
.DS_Store
Thumbs.db

# Alembic
alembic/versions/__pycache__/

# Docker
docker-data/